.btn {
    --bg-clr: #969696;
    --clr: var(--white-clr);
    padding: var(--sz-sm);
    border-radius: var(--sz-border-md);
    font-size: var(--btn-fs);
    border: none;
    outline: none;
    background-color: var(--bg-clr);
    color: var(--clr);
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    --bg-clr: var(--primary-clr);
}

.btn-danger {
    --bg-clr: var(--danger-clr);
}

.btn:disabled {
    background-color: #969696;
}