@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --sz-sm: 0.5rem;
    --sz-md: 1.5rem;

    --h1-fs: 1.75rem;
    --h2-fs: 1.25rem;
    --btn-fs: 1rem;
    --tip-fs: 1rem;
    --task-item-fs: 1rem;

    --bold: 600;
    --regular: 400;
    --thin: 200;

    --primary-clr: #0d6efd;
    --light-clr: #f8f9fa;
    --secondary-clr: #b4fff6;
    --white-clr: #fff;
    --danger-clr: #dc3545;

    --box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
    --border: 0.1rem solid rgba(34, 60, 80, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    background-color: var(--light-clr);
}

h1 {
    font-size: var(--h1-fs);
    font-weight: var(--bold);
}

section {
    padding: var(--sz-md) 0;
}

section:has(+section) {
    padding-bottom: 0;
}

input {
    border: none;
    outline: none;
    padding: var(--sz-sm);
    box-shadow: var(--box-shadow);
    border-radius: var(--sz-sm);
}

.container {
    max-width: 1168px;
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--sz-sm);
}

.header {
    padding: var(--sz-sm) 0;
    color: var(--white-clr);
}

.bg-primary {
    background-color: var(--primary-clr);
}

.card {
    background-color: var(--white-clr);
    border-radius: var(--sz-md);
    width: fit-content;
    padding: var(--sz-md);
    box-shadow: var(--box-shadow);
}

.card__title {
    font-size: var(--h2-fs);
    font-weight: var(--bold);
}

.card__title:has(+.card__body) {
    margin-bottom: var(--sz-sm);
}

.card__body {
    display: flex;
    gap: var(--sz-md);
}

.btn {
    padding: var(--sz-sm);
    border-radius: var(--sz-sm);
    font-size: var(--btn-fs);
    border: none;
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}

.btn-danger {
    background-color: var(--danger-clr);
    color: var(--white-clr);
}


.tip {
    padding: var(--sz-sm);
    border-radius: var(--sz-sm);
    width: fit-content;
    font-size: var(--tip-fs);
}

.tip-primary {
    background: color-mix(in oklch, transparent, var(--primary-clr) 50%);
    color: var(--primary-clr);
}

.task-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 25%;
}

.task-list__title:has(+.task-list__body) {
    margin-bottom: var(--sz-sm);
}

.task-list__body {

}

.task-list__item {
    position: relative;
    width: 100%;
    padding: var(--sz-sm);
    border-radius: var(--sz-sm);
    background-color: var(--white-clr);
    border: var(--border);
    font-size: var(--task-item-fs);
}

.task-list__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.25rem;
    background-color: var(--primary-clr);
    border-top-left-radius: calc(var(--sz-sm));
    border-bottom-left-radius: calc(var(--sz-sm));
}

.flex {
    display: flex;
    gap: var(--sz-sm);
}