.task-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: var(--sz-sm);
    width: 100%;
}

.task-list {
    --clr: #fff;

    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-width: 25%; */
}

.task-list__title {    
    width: fit-content;
    padding: var(--sz-sm);
    border-radius: var(--sz-border-md);
    font-size: var(--task-title-fs);
}

.task-list__title:has(+.task-list__body) {
    margin-bottom: var(--sz-md);
}

.task-list__item {
    position: relative;
    width: 100%;
    padding: var(--sz-sm);
    border-radius: var(--sz-border-md);
    background-color: var(--white-clr);
    border: var(--border);
    font-size: var(--task-item-fs);
}

.task-list__item.task-list__item-selected {
    background-color: red;
}

.task-list__title {
    background: color-mix(in oklch, transparent, var(--clr) 20%);
    color: var(--clr);
}

.task-list__body {
    padding: 10px;
    min-height: var(--sz-md);
    border: var(--border);
    display: grid;
    gap: var(--sz-sm);
    grid-template-columns: 1fr;
}

.task-list__body.task-list__body-over {
    padding-top: 20px;
    padding-bottom: 20px;
}

.task-list__body:hover {
    border: var(--border);
}

.task-list__empty-item {
    --clr: grey;
    background-color: transparent;
    position: relative;
    width: 100%;
    padding: var(--sz-sm);
    border-radius: var(--sz-border-md);
    border: var(--border);
    font-size: var(--task-item-fs);
    color: var(--clr);
    border-style: dashed;
}

.task-list__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.25rem;
    background-color: var(--clr);
    border-top-left-radius: var(--sz-border-md);
    border-bottom-left-radius: var(--sz-border-md);
}

.task-list_primary {
    --clr: var(--primary-clr);
}

.task-list_danger {
    --clr: var(--danger-clr);
}

.task-list_secondary {
    --clr: var(--secondary-clr);
}

.task-list_light {
    --clr: var(--light-clr);
}

.task-list_success {
    --clr: var(--success-clr);
}

.task-list_warning {
    --clr: var(--warning-clr);
}

.task-list_info {
    --clr: var(--info-clr);
}